%papel{
    transform: rotate(270deg);
}

%tesoura{
    transform: rotate(250deg);
}

%pedra{
    width: 110px;
    height: 110px;
}

%pontos{
    font: {
        size: 20pt;
    };
    padding: 12px;
    text-align: center;
}

%escolha{
    opacity: 1;
}
