@import "partials/_mixins";
@import "partials/_placeholder";
@import "partials/_variaveis";

// Menu do jogo

body{
    background-color: rgb(87, 231, 87);
}

.menu{
    @include div(rgb(190, 190, 190), none, 900px, 450px, $border-black);
    margin: auto;
    margin-top: 50px;
}

#title{
    text-align: center;
    margin: {
        top: 80px;
    };
}

// tabela de modos de jogo

#game-modes{
    width: 800px;
    margin: auto;
    border: $border-black;
    border-spacing: 0px;
    background-color: $background-white;
}

.modos{
    border: $border-black;
    width: 200px;
    text-align: justify;
    padding: 10px;
}

.btn{
    @extend %botoes;
}

// modo classico

#desc-classico{
    @extend %descricao;
}

#btn-classico{
    background-color: green;
    color: white;
    margin: { 
        top: 10px
    }
    margin-bottom: 10px;
    border: $border-black;
}

// modo personalizado

label{
    float: left;
    margin-left: 10px;
    font: {
        size: 14pt;
    };
}

#pontos{
    @include input(150px, 20px, 22px);
}

#rodadas{
    @include input(150px, 20px, 10px);
}

#btn-personalizado{
    background-color: blue;
    color: white;
    margin: { 
        top: 10px
    }
    margin-bottom: 10px;
    border: $border-black;
}

// Modo Torneio

#desc-torneio{
    @extend %descricao;
}

#torneio{
    @extend %fundo;
}

.box{
    @extend %modal;
    border: $border-black;
}

#btn-torneio{
    background-color: rgb(255, 255, 4);
    color: black;
    border: $border-black;
}

#btn-comecar{
    background-color: rgb(87, 255, 87);
    float: right;
    color: rgb(0, 0, 0);
    margin: {
        top: 50px;
        right: 10px;
    };
    border: $border-black;
}

#btn-voltar{
    background-color: rgb(48, 48, 48);
    float: left;
    color: white;
    margin: {
        top: 50px;
        left: 10px;
    };
}

#title-torneio{
    text-align: center;
    margin: {
        top: 5px;
    };
}

.torneio-battle{
    text-align: center;
    color: transparent;
    font: {
        size: 18pt;
    };
}

#nota{
    text-align: justify;
    font: {
        size: 14pt;
    };
    margin: {
        left: 5px;
    };
    padding: 5px;
}

// botao para voltar para o menu 

#btn-menu{
    @extend %botoes;
    background-color: rgb(157, 214, 252);
    color: rgb(0, 0, 0);
    font: {
        display: bold;
    };
    margin: {
        left: 20px;
    };
    border: $border-black;
}

// Tela de Jogador e computador

.jogo{
    display: none;
}

.jogador-div{
    @include div(rgb(81, 81, 247), left, 500px, 250px, $border-black);
    margin: {
        left: 100px;
    };
}

.computador-div{
    @include div(rgb(161, 0, 0), right, 500px, 250px, $border-black);
    margin: {
        right: 100px;
    };
}

ul{
    list-style: none;
    display: flex;
}

// Escolhas (Pedra, Papel, tesoura)

.jogador{
    opacity: 0.5;
    pointer-events: visible; //habilitar o clique quando a rodada recomeçar
    cursor: pointer;
    margin-left: 0px;

    &:hover{
        opacity: 1;
    }
}

.computador{
    margin-left: 0px;
    opacity: 0.5;
}

// destacar qual o jogador e computador escolheram

.escolhaJogador{
    @extend %escolha;
}

.escolhaComputador{
    @extend %escolha;
}

//  esconder as outras opções quando os dois escolherem a jogada
.esconder{
    display: none;
}


#pedra-j{
    @include imagens(110px,110px, 0);
}

#pedra-c{
    @include imagens(110px,110px, 0);
}

#papel-j{
    @include imagens(100px,100px, 270);
}

#papel-c{
    @include imagens(100px,100px, 270);
}

#tesoura-j{
    @include imagens(100px,100px, 250);
}

#tesoura-c{
    @include imagens(100px,100px, 250);
}

.vs{
    text-align: center;
    margin: {
        top: 20px;
    };
    color: white;
}

// Placar 

h2{
    text-align: center;
    color: white;
}

.placar{
    width: 200px;
    height: 80px;
    margin: auto;
    margin: {
        bottom: 25px;
    };
}

// rodadas vencidas
#rodadas-J{
    @include rodada(right, white, 0px, 10px);
    font: {
        size: 20pt;
    };
}

#rodadas-C{
    @include rodada(left, white, 10px, 0px);
    font: {
        size: 20pt;
    };
}

.pontos{
    @extend %pontos;
}

// tela do vencedor

#resultado{
    @include div(rgb(64, 65, 66), none, 300px, 50px, none);
    margin: auto;
    margin: {
        top: 150px;
    };  
}

#vencedor{
    color: white;
    font: {
        size: 18pt;
    };
    padding: 5px;
    text-align: center;
}

